<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web01</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrateController</display-name>
    <servlet-name>RegistrateController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.RegistrateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrateController</servlet-name>
    <url-pattern>/registrate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTasksController</display-name>
    <servlet-name>GetTasksController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.GetTasksController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTasksController</servlet-name>
    <url-pattern>/getTasks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTaskController</display-name>
    <servlet-name>AddTaskController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.AddTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaskController</servlet-name>
    <url-pattern>/addTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTaskController</display-name>
    <servlet-name>EditTaskController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.EditTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTaskController</servlet-name>
    <url-pattern>/editTask</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>by.gsu.epamlab.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/getTasks</url-pattern>
    <url-pattern>/addTask</url-pattern>
    <url-pattern>/editTask</url-pattern>
    <url-pattern>/uploadFile</url-pattern>
    <url-pattern>/downloadFile</url-pattern>
    <url-pattern>/deleteFile</url-pattern>
  </filter-mapping>
</web-app>